# for config files that I don't want going to github
# and old stuff that doesn't work now

/dota_kafka.txt
/misc/windows_setup.txt
/misc.txt
/misc/Dota_Streaming_old.xml
/misc/JOLT_spec_old.json
/misc/old_converted_match_6102206720.json