# for config files that I don't want going to github
# and old stuff that doesn't work now
# and the project build itself

/dota_kafka.txt
/misc/windows_setup.txt
/misc.txt
/misc/Dota_Streaming_old.xml
/src/spark_streaming/project/*
!/src/spark_streaming/project/plugins.sbt
/src/spark_streaming/target/*
/misc/more_misc.txt